<!--Jumbotron -->
<div class="jumbotron text-center">
<h2 class="display-3" style="color: #053557">Eventbrite_MVP</h2>
<p class="lead">Crées ton event, espèce de filou</p>
<p class="btn btn-info"><%= link_to "crées ton event", new_event_path, class:"text-white" %></p>
</div>

<!-- partie affichage des events -->
<div class="container">
  <div class="row">
    <% @event.reverse.each do |event_object| %>
      <div class="col-md-4">
        <h2><%= event_object.title %></h2>
        <p><%= event_object.description %></h2>
        <div class="btn btn-info"><%= link_to "Voir l'event", event_path(event_object.id), class:"text-white" %></div>
      </div>
    <%end%>
  </div>
</div>

